@{
    Layout = "~/Views/wx/_master.cshtml";
}
@section head{
    <link href="/wx/survey.css" rel="stylesheet" />
}
@section body{
    <div class="wrapper">
        <div id="answer" class="card_wrap">
            @Html.Raw(ViewBag.Cards)
        </div><!--/card_wrap-->
    </div>
}
@section script{
    <script src="/wx/survey.js"></script>
    <script type="text/javascript">
        var json = @Html.Raw(ViewBag.Json)
        document.title = '@Html.Raw(ViewBag.Questionary)';
        $(function () {
            $("#answer").answerSheet({});
        })
    </script>
}