<div id="app"><router-view></router-view></div>
<template id="app-list">
    <div style="margin: 0px 10px;">
        <div class="wln-title">
            <div style="float:right">
                <el-button size="small" :plain="true" type="info" onclick="location.href = 'control'">返回</el-button>
                <el-button size="small" type="primary" onclick="location.href = 'grade'" v-if="editer">年级管理</el-button>
                <el-button size="small" type="primary" onclick="router.push('/classes/add')" v-if="editer">新增班级</el-button>
            </div>
            <el-select v-model="school" clearable placeholder="请先选择要管理的校园" @@change="schoolChange" style="width:320px;">
                <el-option v-for="item in organs" :label="item.name" :value="item.id">
                    <span style="float:left">{{item.name}}</span>
                    <span style="float:right;color:#8492a6;font-size:13px">{{item.fullname}}</span>
                </el-option>
            </el-select>
            班级管理
        </div>
        <el-table :data="rows" :empty-text="message" border>
            <el-table-column width="90" align="center" label="状态">
                <template scope="scope">
                    <el-tag type="warning" v-if="scope.row.state===0">待开班</el-tag>
                    <el-tag type="primary" v-else-if="scope.row.state===1">已开班</el-tag>
                    <el-tag type="success" v-else-if="scope.row.state===2">已毕业</el-tag>
                    <el-tag type="gray" v-else>无效</el-tag>
                </template>
            </el-table-column>
            <el-table-column width="150" align="center" label="班级" property="name"></el-table-column>
            <el-table-column width="270" align="center" label="校园" property="organ" v-if="school==''"></el-table-column>
            <el-table-column align="left" label="备注">
                <template scope="scope">
                    <p style="color:#999999;">{{scope.row.remarks}}</p>
                </template>
            </el-table-column>
            <el-table-column width="70" align="center" label="权重" property="sort"></el-table-column>
            <el-table-column width="150" align="center" label="操作">
                <template scope="scope">
                    <el-button size="small" @@click="handleEditer(scope.row)" type="success" v-if="editer">编辑</el-button>
                    <el-button size="small" @@click="handleDelete(scope.row)" type="warning" v-if="delrow">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" :current-page="index" :page-size="size" :total="total"></el-pagination>
    </div>
</template>
<template id="app-form">
    <div class="wln">
        <el-form ref="form" v-model="form" label-width="140px">
            <el-form-item>
                <el-col :span="3" class="label">班级&nbsp;</el-col>
                <el-col :span="18">
                    <el-input v-model="form.name" style="width:275px;"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">校园&nbsp;</el-col>
                <el-col :span="18">
                    <el-select v-model="form.organ" placeholder="请选择" :disabled="form.id!==''" style="width:275px;">
                        <el-option v-for="item in organs" :label="item.name" :value="item.id">
                            <span style="float:left">{{item.name}}</span>
                            <span style="float:right;color:#8492a6;font-size:13px">{{item.fullname}}</span>
                        </el-option>
                    </el-select>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">状态&nbsp;</el-col>
                <el-col :span="18">
                    <el-select v-model="form.state" placeholder="请选择" style="width:275px;">
                        <el-option v-for="item in states" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">权重&nbsp;</el-col>
                <el-col :span="18">
                    <el-input v-model="form.sort" style="width:60px;text-align:center;"></el-input>
                    <span style="color:#999999;">数值越大越靠前</span>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">备注&nbsp;</el-col>
                <el-col :span="18">
                    <el-input type="textarea" :rows="2" v-model="form.remarks"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">&nbsp;</el-col>
                <el-col :span="18">
                    <el-button type="primary" @@click="onSubmit">提交</el-button>
                    <el-button onclick="router.push('/classes')">返回</el-button>
                </el-col>
            </el-form-item>
        </el-form>
    </div>
</template>
<script type="text/javascript">
    var appList = Vue.extend({
        template: '#app-list',
        data: function () {
            emptyPager.school = '';
            emptyPager.organs = [];
            emptyPager.editer = false;
            emptyPager.delrow = false;
            return emptyPager
        },
        methods: {
            refresh() {
                var _self = this;
                if (_self.school) {
                    $.getJSON(location.pathname, { 'do': 'pager', page: _self.index, rows: _self.size, school: _self.school }, function (rlt) {
                        _self.message = rlt.message;
                        _self.total = rlt.total;
                        _self.index = rlt.index;
                        _self.size = rlt.size;
                        _self.rows = rlt.rows;
                    });
                } else {
                    _self.message = '请先选择要管理的校园';
                    _self.total = 0;
                    _self.index = 1;
                    _self.rows = [];
                }
            },
            schoolChange(val) {
                emptyPager.rows = [];
                emptyPager.editer = false;
                emptyPager.delrow = false;
                $.getJSON('/ajax/select', { 'organ': val });
                $.getJSON('/right', { 'do': 'editer', organ: val, code: 'Classes' }, function (rlt) {
                    emptyPager.editer = rlt.success;
                })
                $.getJSON('/right', { 'do': 'delete', organ: val, code: 'Classes' }, function (rlt) {
                    emptyPager.delrow = rlt.success;
                })
                this.refresh();
            },
            search(event) {
                if (event.keyCode == 13) {
                    this.refresh()
                }
            },
            sizeChange(val) {
                emptyPager.size = val;
                this.refresh();
            },
            currentChange(val) {
                emptyPager.index = val;
                this.refresh();
            },
            handleEditer(row) {
                router.push('/classes/edit?id=' + row.id);
            },
            handleDelete(row) {
                this.$confirm('此操作将删除该记录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _self = this;
                    $.getJSON(location.pathname, { 'do': 'del', id: row.id }, function (rlt) {
                        _self.refresh();
                        iTips(rlt.message, rlt.success);
                    });
                }).catch(() => {
                    iTips('操作已取消');
                });
            }
        }, created() {
            var _self = this;
            $.getJSON('/organ', { 'do': 'list' }, function (rlt) {
                _self.organs = rlt.data;
                _self.school = rlt.select;
            });
            _self.refresh();
        }
    })
    var appForm = Vue.extend({
        template: '#app-form',
        data: function () {
            var obj = {
                form: {
                    id: ''
                    ,
                    name: ''
                    ,
                    organ: ''
                    ,
                    state: 0
                    ,
                    sort: ''
                    ,
                    remarks: ''
                },
                organs: [],
                states: [{ value: 0, label: '待开班' }, { value: 1, label: '已开班' }, { value: 2, label: '已毕业' }]
            }
            $.getJSON('/organ', { 'do': 'list' }, function (rlt) {
                obj.organs = rlt.data;
                obj.form.organ = rlt.select;
            });
            return obj;
        },
        methods: {
            onSubmit: function () {
                var obj = this.form;
                $.post(location.pathname + '?do=set', obj, function (rlt) {
                    iTips(rlt.message, rlt.success);
                    if (rlt.success) {
                        obj.sid = rlt.data;
                        router.push('/classes');
                    }
                });
            }
        }, created() {
            var obj = this.form;
            obj.id = this.getParam('id');
            if (obj.id) {
                $.getJSON(location.pathname, { 'do': 'get', id: obj.id }, function (rlt) {
                    if (rlt.id) {
                        obj.name = rlt.name;
                        obj.organ = rlt.organ;
                        obj.sort = rlt.sort;
                        obj.remarks = rlt.remarks;
                    }
                });
            }
        }
    })
    var router = new VueRouter({
        mode: 'history', routes: [
            { path: '/classes', component: appList }
            , { path: '/classes/add', component: appForm }
            , { path: '/classes/edit', component: appForm }
        ]
    });
    var app = new Vue({ el: '#app', router: router });
</script>