<style>
    .wln-table-expand {
        width: 600px;
        font-size: 0;
        padding: 20px 10px;
        margin: -12px -30px;
        background: #f1f4f9;
    }
    .wln-table-expand:hover {
        background: #f5f7fa;
    }
    .wln-table-expand .wln-expand-title {
        display: block;
        font-size: 14px;
        margin-left: 22px;
        border-left: 3px solid #009688;
        padding-left: 3px;
        line-height: 14px;
        margin-top: 10px;
        font-weight: bolder;
    }
    .wln-table-expand .wln-expand-remark {
        font-size: 13px;
        padding: 6px 22px;
        text-indent: 26px;
    }
    .wln-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .wln-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 25%;
    }
    .el-textarea__inner{height:90px}
</style>
<div id="app" v-loading.fullscreen.lock="fullLoading"><router-view></router-view></div>
<template id="app-list">
    <div style="margin:0px 10px">
        <div class="wln-subtitle">
            <div style="float:right">
                <el-button size="mini" type="info" :plain="true" onclick="history.back()">返回</el-button>
                <el-button size="mini" type="primary" icon="el-icon-plus" @@click="router.push('/student/add')" v-if="editer">新增学员</el-button>
                <el-button size="mini" type="primary" @@click="location.href='entrance'">学员入学记录<i class="el-icon-d-arrow-right el-icon--right"></i></el-button>
            </div>
            学员管理
        </div>
        <div class="wln-line" style="padding-top:0px;"></div>
        <div>
            <div style="float:right">
                <input type="text" v-model="key" :value="key" @@keydown="search($event)" placeholder="按回车键进行查找" style="line-height:38px" />
            </div>
            <el-select v-model="school" clearable placeholder="请先选择要管理的校园" @@change="schoolChange" style="width:320px;">
                <el-option v-for="item in organs" :label="item.name" :value="item.id">
                    <span style="float:left">{{item.name}}</span>
                    <span style="float:right;color:#8492a6;font-size:13px">{{item.fullname}}</span>
                </el-option>
            </el-select>
        </div>
        <div class="wln-line"></div>
        <el-table :data="rows" :empty-text="message" style="width:100%" @@selection-change="handleSelectionChange">
            <el-table-column type="expand">
                <template scope="scope">
                    <el-form label-position="right" inline class="wln-table-expand">
                        <div>
                            <div class="wln-expand-title">学员信息</div>
                            <el-form-item label="学员姓名">
                                <span>{{scope.row.name}}</span>
                            </el-form-item>
                            <el-form-item label="@Html.Raw(ViewBag.Label_studentid)">
                                <span>{{scope.row.studentid}}</span>
                            </el-form-item>
                            <el-form-item label="证件号" style="width:40%;">
                                <span>{{scope.row.idnumber}}</span>
                            </el-form-item>
                        </div>
                        <div v-if="scope.row.parentname1 || scope.row.relationship1 || scope.row.telnumber1">
                            <div class="wln-expand-title">家长一</div>
                            <el-form-item label="姓名">
                                <span>{{scope.row.parentname1}}</span>
                            </el-form-item>
                            <el-form-item label="关系">
                                <span>{{scope.row.relationship1}}</span>
                            </el-form-item>
                            <el-form-item label="电话号码" style="width:40%;">
                                <span>{{scope.row.telnumber1}}</span>
                            </el-form-item>
                        </div>
                        <div v-if="scope.row.parentname2 || scope.row.relationship2 || scope.row.telnumber2">
                            <div class="wln-expand-title">家长二</div>
                            <el-form-item label="家长姓名">
                                <span>{{scope.row.parentname2}}</span>
                            </el-form-item>
                            <el-form-item label="关系">
                                <span>{{scope.row.relationship2}}</span>
                            </el-form-item>
                            <el-form-item label="电话号码" style="width:40%;">
                                <span>{{scope.row.telnumber2}}</span>
                            </el-form-item>
                        </div>
                        <div v-if="scope.row.remarks">
                            <div class="wln-expand-title">学员备注</div>
                            <div class="wln-expand-remark">{{scope.row.remarks}}</div>
                        </div>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column width="55" type="selection"></el-table-column>
            <el-table-column width="90" align="center" label="状态">
                <template scope="scope">
                    <font style="color:#409EFF;" v-if="scope.row.state===0">未入学</font>
                    <font style="color:#67C23A;" v-else-if="scope.row.state===1">在读中</font>
                    <font style="color:#E6A23C;" v-else-if="scope.row.state===2">已转出</font>
                    <font style="color:#F56C6C;" v-else-if="scope.row.state===3">已毕业</font>
                    <font style="color:#909399;" v-else>其它</font>
                </template>
            </el-table-column>
            <el-table-column width="150" align="center" label="@Html.Raw(ViewBag.Label_studentid)" property="studentid"></el-table-column>
            <el-table-column width="120" align="center" label="姓名" property="name"></el-table-column>
            <el-table-column width="70" align="center" label="性别" property="sex"></el-table-column>
            <el-table-column width="90" align="center" label="年级" property="gradename"></el-table-column>
            <el-table-column width="120" align="center" label="班级" property="classname"></el-table-column>
            <el-table-column></el-table-column>
            <el-table-column width="180" align="center" label="操作">
                <template scope="scope">
                    <el-popover ref="fee" placement="left" width="400">
                        <p>请为<font style="color:#FF5722;padding:0px 3px;">{{ scope.row.name }}</font>选择要执行的操作：</p>
                        <div class="popover-btns">
                            <el-button size="mini" type="primary" @@click="location.href='/retainer?organ=' + school + '&student=' + scope.row.id">预缴费用</el-button>
                            <el-button size="mini" type="primary" @@click="location.href='/discount?organ=' + school + '&student=' + scope.row.id">优惠管理</el-button>
                            <el-button size="mini" type="primary" @@click="location.href='/feeorder?organ=' + school + '&student=' + scope.row.id">缴费清单</el-button>
                            <el-tooltip content="将费用退至预缴费用余额" placement="bottom">
                                <el-button size="mini" type="primary" @@click="location.href='/refund?organ=' + school + '&student=' + scope.row.id">退费</el-button>
                            </el-tooltip>
                            <el-tooltip content="预缴余额退款提现" placement="bottom">
                                <el-button size="mini" type="primary" @@click="location.href='/retainer/refund?organ=' + school + '&student=' + scope.row.id">退款</el-button>
                            </el-tooltip>
                        </div>
                        <div class="popover-btns">
                            <el-tooltip content="上锁后将禁止编辑和删除学员资料" placement="bottom">
                                <el-button size="mini" icon="el-icon-time" @@click="handleLocked(scope.row)" type="warning" v-if="verify" :disabled="scope.row.islock>0">{{scope.row.islock>0?'已锁':'上锁'}}</el-button>
                            </el-tooltip>
                            <el-tooltip content="直接删除学员信息（谨慎操作）" placement="bottom">
                                <el-button size="mini" icon="el-icon-delete" @@click="handleDelete(scope.row)" type="danger" v-if="delrow" :disabled="scope.row.islock>0">删除</el-button>
                            </el-tooltip>
                        </div>
                    </el-popover>
                    <el-button size="mini" icon="el-icon-edit" @@click="handleEditer(scope.row)" type="success" v-if="editer">编辑</el-button>
                    <el-button size="mini" v-popover:fee type="warning">更多操作</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div style="text-align:center;padding:6px;background:#eef1f6;border:1px solid #e0e0e0;" v-if="entrance">
            <el-cascader v-model="classesSelect" :options="classes" placeholder="入学班级" style="width:200px"></el-cascader>
            <el-date-picker v-model="entertime" :editable="false" align="right" type="daterange" format="yyyy-MM-dd" placeholder="就读时间" style="width:200px"></el-date-picker>
            <el-button type="success" @@click="rowsEntrance()" style="vertical-align:top;">批量入学</el-button>
        </div>
        <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" :current-page="index" :page-size="size" :total="total"></el-pagination>

    </div>
</template>
<template id="app-form">
    <div class="wln">
        <div class="wln-title" style="margin:30px;">学员资料</div>
        <el-form ref="form" v-model="form" label-width="0px" style="width:720px;">
            <el-form-item>
                <el-col :span="3" class="label">姓名&nbsp;</el-col>
                <el-col :span="4">
                    <el-input v-model="form.name" :disabled="form.islock > 0"></el-input>
                </el-col>
                <el-col :span="3" class="label">性别&nbsp;</el-col>
                <el-col :span="3">
                    <el-select v-model="form.sex" :disabled="form.islock > 0" placeholder="请选择">
                        <el-option v-for="item in sexs" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="3" class="label">证件号&nbsp;</el-col>
                <el-col :span="5">
                    <el-input v-model="form.idnumber" :disabled="form.islock > 0"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">家长一&nbsp;</el-col>
                <el-col :span="4">
                    <el-input v-model="form.parentname1" :disabled="form.islock > 0" placeholder="家长姓名"></el-input>
                </el-col>
                <el-col :span="3" class="label">关系&nbsp;</el-col>
                <el-col :span="3">
                    <el-select v-model="form.relationship1" :disabled="form.islock > 0" placeholder="请选择">
                        <el-option v-for="item in relationships" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="3" class="label">手机号码&nbsp;</el-col>
                <el-col :span="5">
                    <el-input v-model="form.telnumber1" :disabled="form.islock > 0"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">家长二&nbsp;</el-col>
                <el-col :span="4">
                    <el-input v-model="form.parentname2" :disabled="form.islock > 0" placeholder="家长姓名"></el-input>
                </el-col>
                <el-col :span="3" class="label">关系&nbsp;</el-col>
                <el-col :span="3">
                    <el-select v-model="form.relationship2" :disabled="form.islock > 0" placeholder="请选择">
                        <el-option v-for="item in relationships" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="3" class="label">手机号码&nbsp;</el-col>
                <el-col :span="5">
                    <el-input v-model="form.telnumber2" :disabled="form.islock > 0"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">校园&nbsp;</el-col>
                <el-col :span="10">
                    <el-select v-model="form.organ" :disabled="form.islock > 0" placeholder="请选择" style="width:300px">
                        <el-option v-for="item in organs" :label="item.name" :value="item.id">
                            <span style="float:left">{{item.name}}</span>
                            <span style="float:right;color:#8492a6;font-size:13px">{{item.fullname}}</span>
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="3" class="label">@Html.Raw(ViewBag.Label_studentid)&nbsp;</el-col>
                <el-col :span="5">
                    <el-input v-model="form.studentid" :disabled="form.islock > 0"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3" class="label">备注&nbsp;</el-col>
                <el-col :span="18">
                    <el-input type="textarea" :rows="2" v-model="form.remarks"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-col :span="3">&nbsp;</el-col>
                <el-col :span="18">
                    <el-button type="primary" @@click="onSubmit">提交</el-button>
                    <el-button type="warning" @@click="onLocked" v-if="form.islock > 0">解锁</el-button>
                    <el-button onclick="router.push('/student')">返回</el-button>
                </el-col>
            </el-form-item>
        </el-form>
    </div>
</template>
<script type="text/javascript">
    emptyPager.school = '';
    emptyPager.organs = [];
    emptyPager.editer = false;
    emptyPager.verify = false;
    emptyPager.delrow = false;
    emptyPager.entrance = false;
    emptyPager.fullLoading = true;
    emptyPager.multipleSelection = [];
    emptyPager.classes = [];
    emptyPager.classesSelect = [];
    emptyPager.entertime = [];

    var appList = Vue.extend({
        template: '#app-list',
        data: function () {
            return emptyPager
        },
        methods: {
            refresh() {
                if (emptyPager.school) {
                    emptyPager.fullLoading = true;
                    $.getJSON(location.pathname, { 'do': 'pager', page: emptyPager.index, rows: emptyPager.size, school: emptyPager.school, key: emptyPager.key }, function (rlt) {
                        emptyPager.message = rlt.message;
                        emptyPager.total = rlt.total;
                        emptyPager.index = rlt.index;
                        emptyPager.size = rlt.size;
                        emptyPager.rows = rlt.rows;
                        emptyPager.fullLoading = false;
                        emptyPager.multipleSelection = [];
                    });
                }
                else {
                    emptyPager.fullLoading = false;
                    emptyPager.message = '请先选择要管理的校园';
                    emptyPager.total = 0;
                    emptyPager.index = 0;
                    emptyPager.rows = [];
                    emptyPager.multipleSelection = [];
                 }
            },
            rowsEntrance() {
                var _self = this;
                var _ids = '';
                for (var i = 0; i < emptyPager.multipleSelection.length; i++) {
                    if (_ids.length == 0) {
                        _ids = emptyPager.multipleSelection[i].id;
                    } else {
                        _ids += ',' + emptyPager.multipleSelection[i].id
                    }
                }
                if (_ids.length == 0) {
                    iTips('请先选择要入学的人员');
                } else if (emptyPager.multipleSelection.length > 50) {
                    iTips('您一次性选择的学员过多，请分批次操作');
                } else if (emptyPager.classesSelect.length != 2) {
                    iTips('请先选择要入学的班级');
                } else if (emptyPager.entertime.length != 2) {
                    iTips('请先选择就读时间段');
                } else {
                    var entertime = emptyPager.entertime[0].pattern("yyyy-MM-dd") + ' 至 ' + emptyPager.entertime[1].pattern("yyyy-MM-dd");
                    $.post(location.pathname + '?do=entrance', { classes: emptyPager.classesSelect[1], ids: _ids, entertime: entertime }, function (rlt) {
                        app.$message({ type: rlt.success ? 'success' : 'error', message: rlt.message });
                        if (rlt.success) {
                            _self.refresh();
                        }
                    });
                }
            },
            schoolChange(val) {
                emptyPager.rows = [];
                emptyPager.editer = false;
                emptyPager.verify = false;
                emptyPager.delrow = false;
                emptyPager.entrance = false;
                emptyPager.fullLoading = true;
                $.getJSON('/ajax/select', { 'organ': val });
                $.getJSON('/auth', { organ: val, code: 'School_Student_Editor' }, function (rlt) {
                    emptyPager.editer = rlt.success;
                })
                $.getJSON('/auth', { organ: val, code: 'School_Student_Verify' }, function (rlt) {
                    emptyPager.verify = rlt.success;
                })
                $.getJSON('/auth', { organ: val, code: 'School_Student_Delete' }, function (rlt) {
                    emptyPager.delrow = rlt.success;
                })
                $.getJSON('/auth', { organ: val, code: 'School_Student_Entrance' }, function (rlt) {
                    emptyPager.entrance = rlt.success;
                })
                $.getJSON('/ajax/classes', { 'organ': val }, function (rlt) {
                    emptyPager.classes = rlt.classes;
                })
                this.refresh();
            },
            search(event) {
                if (event.keyCode == 13) {
                    this.refresh()
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            sizeChange(val) {
                emptyPager.size = val;
                this.refresh();
            },
            currentChange(val) {
                emptyPager.index = val;
                this.refresh();
            },
            handleEditer(row) {
                router.push('/student/edit?id=' + row.id);
            },
            handleDelete(row) {
                this.$confirm('此操作将删除该记录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _self = this;
                    $.getJSON(location.pathname, { 'do': 'del', id: row.id }, function (rlt) {
                        _self.refresh();
                        iTips(rlt.message, rlt.success);
                    });
                }).catch(() => {
                    iTips('删除操作已取消');
                });
            },
            handleLocked(row) {
                this.$confirm('上锁后此记录将无法删除和修改, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _self = this;
                    $.getJSON(location.pathname, { 'do': 'lock', id: row.id }, function (rlt) {
                        _self.refresh();
                        iTips(rlt.message, rlt.success);
                    });
                }).catch(() => {
                    iTips('锁定操作已取消');
                });
            }
        }, created() {
            _self = this;
            $.getJSON('/organ', { 'do': 'list' }, function (rlt) {
                if (!rlt.select) {
                    emptyPager.fullLoading = false;
                }
                emptyPager.organs = rlt.data;
                emptyPager.school = rlt.select;
                if (rlt.select) {
                    $.getJSON('/auth', { organ: rlt.select, code: 'School_Student_Editor' }, function (rlt) {
                        emptyPager.editer = rlt.success;
                    })
                    $.getJSON('/auth', { organ: rlt.select, code: 'School_Student_Verify' }, function (rlt) {
                        emptyPager.verify = rlt.success;
                    })
                    $.getJSON('/auth', { organ: rlt.select, code: 'School_Student_Delete' }, function (rlt) {
                        emptyPager.delrow = rlt.success;
                    })
                    $.getJSON('/auth', { organ: rlt.select, code: 'School_Student_Entrance' }, function (rlt) {
                        emptyPager.entrance = rlt.success;
                    })
                    $.getJSON('/ajax/classes', { 'organ': rlt.select }, function (rlt) {
                        emptyPager.classes = rlt.classes;
                    })
                }
                _self.refresh();
            });
        }
    })
    var appForm = Vue.extend({
        template: '#app-form',
        data: function () {
            var obj = {
                form: {
                    id: ''
                    ,
                    name: ''
                    ,
                    organ: ''
                    ,
                    sex:0
                    ,
                    studentid: ''
                    ,
                    idnumber: ''
                    ,
                    relationship1: ''
                    ,
                    parentname1: ''
                    ,
                    telnumber1: ''
                    ,
                    relationship2: ''
                    ,
                    parentname2: ''
                    ,
                    telnumber2: ''
                    ,
                    remarks: ''
                    ,
                    islock: 0

                },
                sexs: [{ "value": 0, "label": "请选择" }, { "value": 1, "label": "男孩" }, { "value": 2, "label": "女孩" }],
                relationships: [],
                organs: []
            }
            $.getJSON('/enums', { 'do': 'Relationship' }, function (data) {
                obj.relationships = data;
            });
            $.getJSON('/organ', { 'do': 'list' }, function (rlt) {
                obj.organs = rlt.data;
                obj.form.organ = rlt.select;
            });
            return obj;
        },
        methods: {
            onSubmit: function () {
                var obj = this.form;
                $.post(location.pathname + '?do=set', obj, function (rlt) {
                    app.$message({ type: rlt.success ? 'success' : 'error', message: rlt.message });
                    if (rlt.success) {
                        obj.sid = rlt.data;
                        router.push('/student');
                    }
                });
            },
            onLocked: function () {
                $.post(location.pathname + '?do=lock', { id: this.form.id }, function (rlt) {
                    app.$message({ type: rlt.success ? 'success' : 'error', message: rlt.message });
                    if (rlt.success) {
                        location.reload();
                    }
                });
            }
        }, created() {
            var obj = this.form;
            obj.id = this.getParam('id');
            if (obj.id) {
                $.getJSON(location.pathname, { 'do': 'get', id: obj.id }, function (rlt) {
                    if (rlt.id) {
                        obj.name = rlt.name;
                        obj.organ = rlt.organ;
                        obj.sex = rlt.sex;
                        obj.studentid = rlt.studentid;
                        obj.idnumber = rlt.idnumber;
                        obj.relationship1 = rlt.relationship1;
                        obj.parentname1 = rlt.parentname1;
                        obj.telnumber1 = rlt.telnumber1;
                        obj.relationship2 = rlt.relationship2;
                        obj.parentname2 = rlt.parentname2;
                        obj.telnumber2 = rlt.telnumber2;
                        obj.remarks = rlt.remarks;
                        obj.islock = rlt.islock;
                        emptyPager.fullLoading = false;
                    }
                });
            }
        }
    })
    var router = new VueRouter({
        mode: 'history', routes: [
            { path: '/student', component: appList }
            , { path: '/student/add', component: appForm }
            , { path: '/student/edit', component: appForm }
        ]
    });
    var app = new Vue({ el: '#app', router: router, data: emptyPager  });
</script>