<div id="app" v-loading.fullscreen.lock="loading && term == ''" style="width:100%;height:100%;display:table;">
    <div style="display:table-cell;width:158px;background-color:#f0f0f0;">
        <div style="text-align:center;">
            <el-select v-model="term" placeholder="请选择当前学期" @@change="reloadTree" style="width:148px;margin:5px;">
                <el-option v-for="item in terms" :label="item.name" :value="item.id">
                    <span style="float:left">{{item.name}}</span>
                    <span style="float:right;color:#8492a6;font-size:13px">{{item.remarks}}</span>
                </el-option>
            </el-select>
        </div>
        <el-tree ref="tree" :data="classes" :current-node-key="classesSelectId" :highlight-current="true" node-key="value" :default-expand-all="true" :expand-on-click-node="false" @@node-click="handleNodeClick" @@check-change="handleNodeClick" style="border:none;"></el-tree>
    </div>
    <div style="display:table-cell;">
        <div class="wln" v-loading="loading">
            <div class="wln-title">
                <span style="float:right;">
                    <el-button size="mini" type="info" :plain="true" onclick="history.back()">返回</el-button>
                    <el-button size="mini" type="primary" onclick="location.href='retainer'" v-if="classesSelectId">预缴费用管理<i class="el-icon-d-arrow-right el-icon--right"></i></el-button>
                </span>
                缴费管理 <span>{{classesSelectName}}</span>
            </div>
            <el-table :data="list" :empty-text="message">
                <el-table-column width="150" align="center" label="@Html.Raw(ViewBag.Label_studentid)" property="studentid"></el-table-column>
                <el-table-column width="100" align="center" label="姓名" property="name"></el-table-column>
                <el-table-column width="120" align="center" label="班级" property="classname"></el-table-column>
                <el-table-column width="90" align="right" label="余额" property="balance"></el-table-column>
                <el-table-column></el-table-column>
                <el-table-column width="420" align="center" label="操作">
                    <template scope="scope">
                        <el-tooltip content="生成和发送缴费清单及按月扣费" placement="bottom">
                            <el-button size="mini" type="primary" @@click="location.href='feeorder?student=' + scope.row.id">缴费清单</el-button>
                        </el-tooltip>
                        <el-tooltip content="管理学员的优惠信息" placement="bottom">
                            <el-button size="mini" type="primary" @@click="location.href='discount?student=' + scope.row.id">优惠管理</el-button>
                        </el-tooltip>
                        <el-tooltip content="余额充值、预缴定金等" placement="bottom">
                            <el-button size="mini" type="primary" @@click="location.href='retainer?student=' + scope.row.id">预缴费用</el-button>
                        </el-tooltip>
                        <el-tooltip content="将费用退至预缴费用余额" placement="bottom">
                            <el-button size="mini" type="primary" @@click="location.href='refund?student=' + scope.row.id">退费</el-button>
                        </el-tooltip>
                        <el-tooltip content="预缴余额退款提现" placement="bottom">
                            <el-button size="mini" type="primary" @@click="location.href='retainer/refund?student=' + scope.row.id">退款</el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" :current-page="index" :page-size="size" :total="total"></el-pagination>
        </div>
    </div>
</div>
<script type="text/javascript">
    emptyPager.term = '';
    emptyPager.terms = [];
    emptyPager.organ = '';
    emptyPager.classes = [];
    emptyPager.classesSelectId = '';
    emptyPager.classesSelectName = '';
    var app = new Vue({
        el: '#app', data: emptyPager, methods: {
            refresh() {
                if (emptyPager.organ || emptyPager.classesSelectId) {
                    emptyPager.loading = true;
                    $.getJSON('/ajax/students', { 'balance': 'true', 'organ': emptyPager.organ, 'classes': emptyPager.classesSelectId, page: emptyPager.index, rows: emptyPager.size }, function (rlt) {
                        emptyPager.loading = false;
                        emptyPager.message = rlt.message;
                        emptyPager.total = rlt.total;
                        emptyPager.index = rlt.index;
                        emptyPager.size = rlt.size;
                        emptyPager.rows = rlt.rows;
                        emptyPager.list = rlt.rows;
                    });
                } else {
                    emptyPager.message = '请先选择要管理的校园或班级';
                    emptyPager.total = 0;
                    emptyPager.index = 1;
                    emptyPager.rows = [];
                    emptyPager.list = [];
                }
            },
            handleNodeClick(node) {
                emptyPager.classesSelectId = '';
                emptyPager.classesSelectName = node.selectname ? node.selectname : '';
                emptyPager.organ = node.cascader ? node.cascader[0] : '';
                if (node.cascader.length == 2) {
                    emptyPager.classesSelectId = node.cascader[1];
                    $.getJSON('/ajax/select', { 'classes': emptyPager.classesSelectId });
                }
                this.refresh();
            },
            sizeChange(val) {
                emptyPager.size = val;
                this.refresh();
            },
            currentChange(val) {
                emptyPager.index = val;
                this.refresh();
            },
            reloadTree() {
                var _self = this;
                emptyPager.organ = '';
                emptyPager.classesSelectId = '';
                emptyPager.classesSelectName = '';
                emptyPager.message = '请先选择要管理的校园或班级';
                emptyPager.terms = [];
                emptyPager.total = 0;
                emptyPager.index = 1;
                emptyPager.rows = [];
                emptyPager.list = [];
                emptyPager.loading = true;
                $.getJSON('/ajax/classes', { 'term': emptyPager.term }, function (rlt) {
                    emptyPager.loading = false;
                    emptyPager.term = rlt.term;
                    emptyPager.terms = rlt.terms;
                    emptyPager.classes = rlt.classes;
                    emptyPager.classesSelectId = rlt.select;
                    _self.refresh();
                });
            },
            search() {
                emptyPager.list = emptyPager.rows.filter(item => {
                    return item.name.indexOf(emptyPager.key) > -1 || item.studentid.indexOf(emptyPager.key) > -1 || item.pinying.indexOf(emptyPager.key.toUpperCase()) > -1;
                })
                if (emptyPager.list.length == 0) {
                    emptyPager.message = '暂无符合条件的学员';
                }
            }
        },
        created() {
            this.reloadTree();
        }
    })
</script>