@{
    Layout = null;
}<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <title>微信支付</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <script type="text/javascript" src="https://static.wlniao.com/jquery/2.1.1/jquery.min.js"></script>
    <style>a{text-decoration:none}</style>
</head>
<body onselectstart="return false;">
    <div style="text-align:center;height:168px;display:block;padding:56px 0px 98px 0px;">
        <img src="~/img/shop.svg" style="max-height:168px;" />
        <div style="font-size:13px;margin-top:12px;margin-bottom:8px;color:#666666;">@ViewBag.Remarks</div>
        <div style="font-size:27px;font-weight:bolder;">￥@ViewBag.Amount</div>
    </div>
    <div style="text-align:center;"><a href="javascript:ReuestPay()" style="width:90%;font-size:21px;line-height:2em;background-color:rgb(4, 190, 2);color:#ffffff;display:inline-block;">立即支付</a></div>
    <div style="text-align:center;"><a href="/wx/orderlist" style="width:90%;font-size:21px;line-height:2em;background-color:rgb(154, 154, 154);color:#ffffff;display:inline-block;margin-top:5px;">返回</a></div>
    <div style="border-top:3px solid #f0f0f0; text-align:center;margin-top:12px;display:none;">
        <div style="width:90%;margin:6px auto;text-align:left; font-size:16px;">
            订单号：@ViewBag.PayId
        </div>
    </div>
    <div style="text-align:center; padding-top:20px;">
        <div><a href="javascript:void(0)" style="color:#165cca">支付常见问题</a></div>
    </div>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript">
        var ts = 0;
        wx.config({ debug: false, jsApiList: ["hideOptionMenu"] });
        wx.ready(function () {
            wx.hideOptionMenu();
            ReuestPay();
        });
        function ReuestPay() {
            var wxpay = eval('(@Html.Raw(ViewBag.JsApi))');
            if (wxpay.package) {
                WeixinJSBridge.invoke('getBrandWCPayRequest', wxpay, function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        setInterval(CheckAndBack, 300);
                    } else {
                        if (res.err_msg == "get_brand_wcpay_request:cancel") {
                            CheckAndBack();
                        } else {
                            CheckAndBack();
                        }
                    }
                });
            } else {
                alert(wxpay.message);
                CheckAndBack();
            }
        }
        function CheckAndBack() {
            try {
                if (new Date().getTime() - ts > 10000) {
                    ts = new Date().getTime();
                    $.getJSON(location.pathname, { 'do': 'check' }, function (ck) {
                        if (ck.success) {
                            location.href = ck.data;
                        } else {
                            ts = 0;
                        }
                    });
                }
            } catch (e) { ts = 0; }
        }
    </script>
</body>
</html>